
@{
    ViewData["Title"] = "Add";
}

<form action="/Student/Save" method="post">
    <h3>Thêm mới sinh viên</h3>
    <div class="form-group">
        <label>Mã sinh viên</label>
        <input type="text" name="StudentId" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Họ tên</label>
        <input type="text" name="FullName" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" name="Address" value="" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" name="Add" value="Thêm mới" class="btn btn-success" />
    </div>
</form>